body {
    min-height: 100svh;
}

header {
    /* height: 80px; */
    width: 100%;
    padding: 20px 20px 0;
    background-color: #282828;
    color: white;
    font-size: smaller;
    /* display: flex;
    align-items: center; */
}